<h2>Edit Victory Point Score</h2>

<%= render "form.html", Map.put(assigns, :action, twilight_imperium_game_score_path(@conn, :update, @game, @score)) %>

<ul class="nav nav-pills">
  <li><%= link "Back", to: twilight_imperium_game_path(@conn, :show, @game) %></li>
</ul>
