<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f,      :faction_id, class: "control-label" %>
    <%= select f,     :faction_id, @factions, class: "form-control" %>
    <%= error_tag f,  :faction_id %>
  </div>

  <div class="form-group">
    <%= label f,        :score, "Victory Points", class: "control-label" %>
    <%= number_input f, :score, class: "form-control" %>
    <%= error_tag f,    :score %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
