<div class="jumbotron">
  <h2>Twilight Imperium Statistics Tracker</h2>
  <p class="lead">A community tracking site for games won and lost in Twilight Imperium 4th Edition</p>
</div>

<h2>Statistics</h2>
<table class="table">
  <thead>
    <tr>
      <th>Faction</th>
      <th>Total Wins</th>
      <th>Total Games Played</th>
      <th>Average Victory Points Per Turn</th>
    </tr>
  </thead>
  <tbody>
    <%= for stat <- @statistics do %>
      <tr>
        <td><%= stat.faction %></td>
        <td><%= stat.wins %></td>
        <td><%= stat.games %></td>
        <td><%= stat.score_per_turn %></td>
      </tr>
    <% end %>
  </tbody>
</table>
