<h2>Login</h2>

<%= form_for @conn, authorization_session_path(@conn, :create), [as: :session], fn f -> %>
  <div class="form-group">
    <%= label f,      :login, class: "control-label" %>
    <%= text_input f, :login, class: "form-control" %>
    <%= error_tag f,  :login %>
  </div>

  <div class="form-group">
    <%= label f,          :password, class: "control-label" %>
    <%= password_input f, :password, class: "form-control" %>
    <%= error_tag f,      :password %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
