<h2>Listing Users</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.name %></td>
      <td class="text-right">
        <% if user.approved == false do %>
          <span><%= link "Approve", to: admin_user_path(@conn, :update, user), method: :patch, class: "btn btn-default btn-xs" %></span>
        <% end %>
        <span><%= link "Delete", to: admin_user_path(@conn, :delete, user), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
