<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f,        :played_on, class: "control-label" %>
    <%= date_select f,  :played_on, class: "form-control" %>
    <%= error_tag f,    :played_on %>
  </div>

  <div class="form-group">
    <%= label f,        :player_count, "Number of Players", class: "control-label" %>
    <%= number_input f, :player_count, class: "form-control" %>
    <%= error_tag f,    :player_count %>
  </div>

  <div class="form-group">
    <%= label f,        :turns, "Number of Turns", class: "control-label" %>
    <%= number_input f, :turns, class: "form-control" %>
    <%= error_tag f,    :turns %>
  </div>

  <div class="form-group">
    <%= label f,      :winning_faction_id, class: "control-label" %>
    <%= select f,     :winning_faction_id, @factions, class: "form-control" %>
    <%= error_tag f,  :winning_faction_id %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
