<h2>Games</h2>

<table class="table">
  <thead>
    <tr>
      <th>Played On</th>
      <th>Players</th>
      <th>Turns</th>
      <th>Winner</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for game <- @twilight_imperium_games do %>
    <tr>
      <td><%= game.played_on %></td>
      <td><%= game.player_count %></td>
      <td><%= game.turns %></td>
      <td><%= game.winning_faction.name %></td>

      <td class="text-right">
        <span><%= link "Show", to: twilight_imperium_game_path(@conn, :show, game), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: twilight_imperium_game_path(@conn, :edit, game), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: twilight_imperium_game_path(@conn, :delete, game), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<ul class="nav nav-pills">
  <li><%= link "New Game", to: twilight_imperium_game_path(@conn, :new) %></li>
</ul>
