<h2>New Game</h2>

<%= render "form.html", Map.put(assigns, :action, twilight_imperium_game_path(@conn, :create)) %>

<ul class="nav nav-pills">
  <li><%= link "Back", to: twilight_imperium_game_path(@conn, :index) %></li>
</ul>
