<h2>Show Game</h2>

<dl>
  <dt>Played On</dt>          <dd><%= @game.played_on %></dd>
  <dt>Number of Players</dt>  <dd><%= @game.player_count %></dd>
  <dt>Number of Turns</dt>    <dd><%= @game.turns %></dd>
  <dt>Winning Faction</dt>    <dd><%= @game.winning_faction.name %></dd>
</dl>

<%= if Enum.count(@game.scores) > 0 do %>
  <h3>Victory Point Scores</h3>
  <table class="table">
    <thead>
      <th>Faction</th>
      <th>Victory Points</th>
      <th></th>
    </thead>
    <tbody>
      <%= for score <- @game.scores do %>
        <tr>
          <td><%= score.faction.name %></td>
          <td><%= score.score %></td>

          <td class="text-right">
            <span><%= link "Edit",    to: twilight_imperium_game_score_path(@conn, :edit,   @game, score), class: "btn btn-default btn-xs" %></span>
            <span><%= link "Delete",  to: twilight_imperium_game_score_path(@conn, :delete, @game, score), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<ul class="nav nav-pills">
  <li><%= link "Edit",                    to: twilight_imperium_game_path(@conn, :edit, @game) %></li>
  <li><%= link "Add Victory Point Score", to: twilight_imperium_game_score_path(@conn, :new, @game) %></li>
  <li><%= link "Back",                    to: twilight_imperium_game_path(@conn, :index) %></li>
</ul>
